<div class="container">
   <h4>Scholarships</h4>
   <div class="w3-row">
      <div class="w3-col s12 m6">
         
      </div>
      <div class="w3-col s12 m6">
         <p>
            Members of the Zonta Club of Porterville hand-make heart shaped pillows with straps. 
            The strap has elastic on one end so it adjusts under the armpit next to the breast that 
            was operated on. There is a pocket on the outside so the cancer patient who has undergone 
            surgery, can put a cold or hot pack in the pocket and tuck it under the armpit, like a 
            purse, next to the incision site. Since 2012, 750 pillows have been distributed to men 
            and women. Because pillows are distributed through a major Hospital Cancer Center, Zonta 
            receives extensive exposure. The pillows have a label offering wishes from Zonta Club of 
            Porterville, making patients’ family and friends aware of Zonta’s health advocacy. Sometimes 
            the receipient of the pillow will travel and take the pillow along. So wherever they go and 
            whoever they meet finds out about the pillow and through that about Zonta Club. In fact, our 
            pillow has gone all the way to New Zealand! Fabric is requested from the public, which also 
            increases awareness. Often times, Z-Club members come to help make the pillows and thus spread 
            the word about the project among their friends and family. This project was awarded the Best 
            Community Service Project Award for 2013 by the Porterville Chamber of Commerce.
         </p>
      </div>
   </div>
   
</div>
