<div class="w3-container" style="padding: 20px; max-width: 800px; margin: auto;">
   <div class="w3-row zonta-p-container">
      <div class="w3-col s12" style="text-align: center">
         <h1 style="font-size: 3.4em;">United Nations</h1>
      </div><br />
      <div style="margin-top: 40px;">
         <div class="w3-col s12" style="margin-top: 20px;">
            <div class="w3-col s12" style="text-align: center">
               <h3>UN Partner Since 1945</h3>
            </div><br />
            <p>
               Cooperation with the United Nations (UN) started in 1945 when the UN was founded. 
               Zonta International has General Consultative Status with the UN/ECOSOC since 1969.
            </p>
         </div>
      </div>
      <div style="margin-top: 40px;">
         <div class="w3-col s12">
            <div class="w3-col s12" style="text-align: center">
               <h3>Supporting UN Projects</h3>
            </div><br />
            <p>Zonta International’s service and advocacy activities focus on:</p>
            <ul>
               <li>
                  <strong>International Service Projects:</strong> Since Zonta International was founded in 1919, Zontians have been 
                  passionate about empowering women in developing countries through international service. To learn more, 
                  <a href="https://foundation.zonta.org/Our-Programs/International-Service-Program" target="_blank">click here.</a>
               </li>
               <li>
                  <strong>Zonta International Strategies to end Violence Against Women (ZISVAW):</strong> 
                  A program since 1996 to eliminate violence against women.
               </li>
               <li>
                  <strong>Education and Leadership Development Programs:</strong> Awards, fellowships, and scholarships for young 
                  women in public affairs for women pursuing high academic degrees in aerospace-related sciences and for women in business.
               </li>
            </ul>
         </div>
      </div><br />
      <div style="margin-top: 30px;">
         <div class="w3-col s12" style="margin-top: 20px;">
            <div class="w3-col s12" style="text-align: center">
               <h3>Council of Europe</h3>
            </div><br />
            <p>
               Zonta International has been represented at the Council of Europe since 1983 and 
               since 2002 has enjoyed participatory status.
            </p>
            <p>
               As a member of the Conference of International NGOs, Zonta International advocates for and 
               contributes to the elaboration of treaties related to gender equality and women’s human rights, 
               thus Zonta participates in the work of the Council of Europe institutions.
            </p>
            <p>
               Zonta provided major input to the content and wording of the convention on violence against women, the ”Istanbul Convention”.
            </p>
         </div>
      </div><br />

      <div class="w3-col s12" style="text-align: center">
         <h3>ZONTA’S CONTRIBUTION AS AN NGO FOR WOMEN’S EMPOWERMENT</h3>
      </div><br />

      <div style="margin-top: 30px;">
         <a href="http://webtv.un.org/search?term=CSW&sort=date" target="_blank" class="zonta-a-container">
            <div class="w3-col s12 zonta-href-container" style="margin-top: 20px;">
               <div class="w3-col s12" style="text-align: center">
                  <h4 style="margin-top: 20px; margin-bottom: 20px; text-decoration: underline;">WATCH UN WEB TV</h4>
                  <p style="margin-top: 20px; margin-bottom: 20px; font-size: 1.1em; padding: 0px 35px;">
                     Don’t miss what’s happening on the Convention on the Status of Women (CSW), watch it live on UN Web TV
                  </p>
               </div>
            </div>
         </a>
      </div><br />

      <div style="margin-top: 30px;">
         <a href="https://www.zonta.org/Global-Impact/Advocacy/SDGs" target="_blank" class="zonta-a-container">
            <div class="w3-col s12 zonta-href-container" style="margin-top: 20px;">
               <div class="w3-col s12" style="text-align: center">
                  <h4 style="margin-top: 20px; margin-bottom: 20px; text-decoration: underline;">
                     GOAL NO. 5: ACHIEVE GENDER EQUALITY AND EMPOWER ALL WOMEN AND GIRLS.
                  </h4>
                  <p style="margin-top: 20px; margin-bottom: 20px; font-size: 1.1em; padding: 0px 35px;">
                     Each of the 17 Sustainable Development Goals is integral to Sustainable Development; 
                     however, Zonta International’s primary focus is on Goal No. 5: Achieve gender equality and empower all women and girls.
                  </p>
                  <p>Learn more about Zonta and UN Sustainable Development Goals!</p>
               </div>
            </div>
         </a>
      </div><br />

      <div style="margin-top: 30px;">
         <div class="w3-col s12" style="text-align: center; padding-top: 20px;">
            <h3>Helvi Sipilä   – Zonta Leader, UN Leader</h3>
         </div><br />
         <div class="w3-col m6 s12 w3-padding" style="margin-top: 20px;">
            <p>
               Zonta Past International President Helvi Sipilä (1968- 1970), the first woman Assistant Secretary-General of the 
               UN (1972-1980), served as Secretary General for the First World Conference on Women 1975 in Mexico.
            </p>
            <p>
               Members of Zonta International have participated in subsequent conferences on women (Copenhagen 1980, Nairobi 
               1985, Beijing 1995). Sipilä went on to spearhead the establishment of UNIFEM, now UN Women.
            </p>
         </div>
         <div class="w3-col m6 s12 w3-padding">
            <img class="zonta-img-col" alt="Helvi Sipilä Logo" src="assets/images/helvi2.jpg">
            <div class="zonta-image-label">
               <p><strong>Helvi Sipilä</strong></p>
               <p>Assistant Secretary-General of the UN</p>
            </div>
            <div class="zonta-image-quote">
               <p>"The only way to prevent war is to strive for justice in the world by reducing discrimination and injustices."</p>
               <p><strong>Helvi Sipilä</strong></p>
            </div>
         </div>
      </div><br />
   </div>
</div>
