<div class="w3-container" style="padding: 20px; max-width: 800px; margin: auto;">
   <div class="w3-row zonta-p-container">
      <div class="w3-col s12" style="text-align: center">
         <h1 style="font-size: 3.4em;">Zonta Says No!</h1>
      </div><br />
      <div style="margin-top: 40px;">
         <div class="w3-col s12 m6" style="margin-top: 20px;">
            <img class="centered-image" src="../../../../assets/images/zonta_no_banner.jpg">
         </div>
      </div>
      <div style="margin-top: 40px;">
         <div class="w3-col s12 m6">
            <div class="w3-col s12" style="text-align: center">
               <h3>Zonta Says NO! to Violence Against Women</h3>
            </div><br />
            <p>Each year from Nov 25th to Dec 10, Zonta observes 16 Days of Activism Against Violence Against Women</p>
            <div class="w3-container w3-display-container" style="min-height: 150px;">
               <button type="button" mdbBtn mdbWavesEffect class="w3-display-middle w3-round-xlarge zonta-red"
               onclick="window.open('https://zontasaysno.com/')">
                  FIND OUT MORE
               </button>
            </div>
            <!-- <p>The Clubs in Zonta’s District8 engage in Service and Advocacy to End Violence Against Women.</p> -->
         </div>
      </div><br />
   </div>
</div>
