<mdb-carousel [animation]="'slide'">
   <mdb-carousel-item>
     <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
   </mdb-carousel-item>
   <mdb-carousel-item>
     <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
   </mdb-carousel-item>
   <mdb-carousel-item>
     <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
   </mdb-carousel-item>
</mdb-carousel><br /><br />

<div class="w3-container">
   <div class="w3-row home-columns">
      <div class="w3-col s12 m4 home-column" routerLink="../event-calendar">
         <div class="w3-container home-icon-container">
            <div class="circle-icon" style="background-image: url(../../assets/flower.png)"></div>
            <h4>About Us</h4>
         </div>
         <p>
            Founded in 1938, the Zonta Club of Sacramento is a member of Zonta International, a 
            worldwide service organization of members working together to advance the status of 
            women through service and advocacy. Our members are dedicated to serving and making 
            a difference in our community.  The Zonta Club of Sacramento has funded numerous projects 
            over the years.  Most recently, our club has funded the “Zonta Girl” scholarships for high 
            school seniors who demonstrate leadership in school and community activities and plan to 
            pursue a college degree.
         </p>
         <span class="home-link">Read More</span>
      </div>
      <div class="w3-col m4 s12">
         <div class="w3-container home-icon-container">
            <div class="circle-icon" style="background-image: url(../../assets/Zonta-logo.png)"></div>
            <h4>Zonta Club Membership</h4>
         </div>
         <p>
            If you would like to join us in this important work, Zonta Club membership may be for you. 
            By joining forces with like-minded women and men, your voice, service and contributions can 
            make a lasting and meaningful impact on women’s lives everywhere.
         </p>
         <span class="home-link">Join Us</span>
      </div>
      <div class="w3-col m4 s12">
         <div class="w3-container home-icon-container">
            <div class="circle-icon" style="background-image: url(../../assets/DonateIcon.png)"></div>
            <h4>Donate (Support Us)</h4>
         </div>
         <p>
            The Zonta Club of Sacramento is a 501(c)4 non-profit organization. Contributions to the 
            club are not tax deductible.  However, support for our club and club sponsored events is 
            gratefully appreciated. Any funds received are used primarily for service projects that 
            advance the status of women through local education scholarships, support for like-minded 
            charitable organizations, and contributions to Zonta International Foundation service projects.
         </p>
         <span class="home-link">Donate</span>
      </div>
   </div>
</div>

<div class="w3-container middle-section">
   <div class="w3-container">
      <h3>VISION</h3>
   </div>
   <div class="w3-contianer">
      <p>
         Empower and inspire women to achieve independence and freedom from violence through service and advocacy projects is paramount. 
         We believe that providing scholarships, supporting and promoting relationships with other local community organizations 
         focused on helping women and their families, enables women to improve their lives.
      </p>
   </div>
</div>

<div class="w3-row" style="padding: 20px;">
   <div class="w3-col s12">
      <div class="w3-container w3-display-container" style="min-height: 150px;">
         <button type="button" mdbBtn mdbWavesEffect class="w3-display-middle w3-round-xlarge zonta-red">Newsletter Link</button>
      </div>

      <div class="w3-container" style="text-align: center;">
         <h3>Member Testimonial</h3>
         <div class="iframe-container">
            <iframe class="iframe" src="https://www.youtube.com/embed/QnUPJu4zqOc"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         </div>
      </div><br /><br />
      <div class="w3-container w3-display-container" style="min-height: 150px;">
         <button type="button" mdbBtn mdbWavesEffect class="w3-display-middle w3-round-xlarge zonta-red">Donate Now</button>
      </div>

      <div class="w3-container">
         <app-event-calendar-small></app-event-calendar-small>
      </div>

      <button type="button" mdbBtn color="info" mdbWavesEffect class="w3-right" routerLink="../event-calendar">View Calendar</button>
   </div>
</div>