<div id="containingDiv">
   <div id="header" class="w3-display-container">
      <a href="" title="Zonta Club" id="logoContainer" class="w3-display-middle">
         <img id="logo" alt="Zonta Club Logo" src="assets/logo.jpg">
      </a>
   </div>
   <div class="w3-bar Menu">
      <button routerLink="/home" class="w3-bar-item w3-button MenuButton menu-button-container">HOME</button>
      <!-- <a routerLink="/services/scholarships" class="w3-bar-item w3-button MenuButton">CLUB SERVICES</a> -->
      <div class="w3-dropdown-hover w3-hide-small menu-button-container">
         <button class="w3-button MenuButton">SERVICES</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="scholarships" class="w3-bar-item w3-button MenuButton2">SCHOLARSHIPS</a>
            <!-- <a routerLink="bosom-buddies" class="w3-bar-item w3-button MenuButton2">BOSOM BUDDIES PROJECT</a> -->
            <!-- <a routerLink="/services/scholarships" class="w3-bar-item w3-button MenuButton2">Z CLUBS</a> -->
         </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small menu-button-container">
         <button class="w3-button MenuButton">ADVOCACY</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="united-nations" class="w3-bar-item w3-button MenuButton2">UNITED NATIONS</a>
            <!-- <a routerLink="anti-domestic-violence" class="w3-bar-item w3-button MenuButton2">ANTI-DOMESTIC VIOLENCE</a> -->
            <a routerLink="end-child-marriage" class="w3-bar-item w3-button MenuButton2">END CHILD MARRIAGE</a>
            <a routerLink="zonta-says-no" class="w3-bar-item w3-button MenuButton2">ZONTA SAYS NO!</a>
            <a routerLink="era" class="w3-bar-item w3-button MenuButton2">ERA</a>
         </div>
      </div>
      <!-- <a href="" class="w3-bar-item w3-button MenuButton w3-hide-small">CLUB ADVOCACY</a> -->
      <div class="w3-dropdown-hover w3-hide-small menu-button-container">
         <button class="w3-button MenuButton">EVENTS</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="event-calendar" class="w3-bar-item w3-button MenuButton2">Event Calendar</a>
         </div>
      </div>
      <div class="w3-dropdown-hover w3-hide-small menu-button-container">
         <button class="w3-button MenuButton">ABOUT US</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="contact-us" class="w3-bar-item w3-button MenuButton2">Contact Us</a>
            <a routerLink="join-us" class="w3-bar-item w3-button MenuButton2">Join Us</a>
         </div>
      </div>
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium MenuButton" (click)="showMobileMenu()">&#9776;</a>
   </div>
   <div class="topnav w3-hide-medium w3-hide-large" id="myTopnav">
      <div class="dropdown">
         <button class="dropbtn">CLUB SERVICES <i class="fa fa-caret-down"></i></button>
         <div class="dropdown-content">
            <a routerLink="scholarships" class="w3-bar-item w3-button MenuButton2">SCHOLARSHIPS</a>
            <a routerLink="bosom-buddies" class="w3-bar-item w3-button MenuButton2">BOSOM BUDDIES PROJECT</a>
            <a routerLink="/services/scholarships" class="w3-bar-item w3-button MenuButton2">Z CLUBS</a>
         </div>
      </div>
      <div class="dropdown">
         <button class="dropbtn">CLUB EVENTS <i class="fa fa-caret-down"></i></button>
         <div class="dropdown-content">
            <a routerLink="event-calendar" class="w3-bar-item w3-button MenuButton2">Event Calendar</a>
         </div>
      </div>
      <div class="dropdown">
         <button class="dropbtn">ABOUT US <i class="fa fa-caret-down"></i></button>
         <div class="dropdown-content">
            <a routerLink="contact-us" class="w3-bar-item w3-button MenuButton2">Contact Us</a>
            <a routerLink="join-us" class="w3-bar-item w3-button MenuButton2">Join Us</a>
         </div>
      </div>
   </div>
   <div id="bodyContainer">
      <router-outlet></router-outlet>
   </div>
</div>