<div id="containingDiv">
   <div id="header" class="w3-display-container">
      <a href="" title="Zonta Club" id="logoContainer" class="w3-display-middle">
         <img id="logo" alt="Zonta Club Logo" src="assets/logo.jpg">
      </a>
   </div>
   <div class="w3-bar Menu">
      <a routerLink="/home" class="w3-bar-item w3-button MenuButton">HOME</a>
      <!-- <a routerLink="/services/scholarships" class="w3-bar-item w3-button MenuButton">CLUB SERVICES</a> -->
      <div class="w3-dropdown-hover w3-hide-small">
         <button class="w3-button MenuButton">CLUB SERVICES</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="scholarships" class="w3-bar-item w3-button MenuButton2">SCHOLARSHIPS</a>
            <a routerLink="bosom-buddies" class="w3-bar-item w3-button MenuButton2">BOSOM BUDDIES PROJECT</a>
            <a routerLink="/services/scholarships" class="w3-bar-item w3-button MenuButton2">Z CLUBS</a>
         </div>
      </div>
      <a href="" class="w3-bar-item w3-button MenuButton w3-hide-small">CLUB ADVOCACY</a>
      <div class="w3-dropdown-hover w3-hide-small">
         <button class="w3-button MenuButton">CLUB EVENTS</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="event-calendar" class="w3-bar-item w3-button MenuButton2">Event Calendar</a>
         </div>
      </div>
      <a href="" class="w3-bar-item w3-button MenuButton w3-hide-small">MEMBERSHIP</a>
      <div class="w3-dropdown-hover w3-hide-small">
         <button class="w3-button MenuButton">ABOUT US</button>
         <div class="w3-dropdown-content w3-bar-block w3-card-4 MenuDropdownContent">
            <a routerLink="contact-us" class="w3-bar-item w3-button MenuButton2">Contact Us</a>
         </div>
      </div>
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium MenuButton" (click)="showMobileMenu()">&#9776;</a>
   </div>
   <div id="mobileMenu" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium Menu">
      <a href="" class="w3-bar-item w3-button MenuButton">CLUB ADVOCACY</a>
      <a href="" class="w3-bar-item w3-button MenuButton">CLUB EVENTS</a>
      <a href="" class="w3-bar-item w3-button MenuButton">MEMBERSHIP</a>
      <a href="" class="w3-bar-item w3-button MenuButton">ABOUT US</a>
   </div>
   <div id="bodyContainer">
      <router-outlet></router-outlet>
   </div>
   <!-- <div id="bodyContainer" *ngIf="!isHome">
      <div class="w3-row">
         <div class="w3-col s12 m8">
            <router-outlet></router-outlet>
         </div>
         <div class="w3-col m4 w3-hide-small">
            <app-sidebar></app-sidebar>
         </div>
      </div>
   </div> -->
</div>