<div class="w3-container" style="padding: 20px; max-width: 800px; margin: auto;">
   <div class="w3-row zonta-p-container">
      <div class="w3-col s12" style="text-align: center">
         <h1 style="font-size: 3.4em;">End Child Marriage</h1>
      </div><br />
      <div style="margin-top: 40px;">
         <mdb-carousel [animation]="'slide'">
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="First slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Second slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Fourth slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Third slide">
            </mdb-carousel-item>
            <mdb-carousel-item>
              <img class="d-block w-100" src="../../../../assets/end-child-marriage/Slide01.jpg" alt="Third slide">
            </mdb-carousel-item>
         </mdb-carousel><br /><br />
         <div class="w3-col s12">
            <div class="w3-col s12" style="text-align: center">
               <h3>RESOURCES FOR MESSAGING END CHILD MARRIAGE</h3>
               <a href="https://zontasaysno.com/getthefacts/" target="_blank">
                  Click here for resources on info on myth vs fact about child Marriage
               </a>

            </div><br />
            <div class="w3-container" style="text-align: center; margin-top: 50px;">
               <h3>A Different Path</h3>
               <div class="iframe-container">
                  <iframe class="iframe" src="https://videopress.com/embed/QDEO5QcT" width="80%"  frameborder="0" allowfullscreen="allowfullscreen"></iframe>
               </div>
            </div><br /><br />
            <div class="w3-col s12" style="text-align: center">
               <h3>UNCHAINED AT LAST</h3>
            </div><br />
            <p>
               America child’s marriage problem. It happens here, or American girls are sent out of the country to marry” 
               Forced and child marriage seem like problems that don’t exist in America, but in reality marriage under
               the age of 18 is legal in all 50 states. After escaping her own forced marriage, activist Fraidy Reiss 
               is working to help women and girls close the legal loopholes around these marriages for good.  (10 Min)
            </p>
            <div class="w3-container" style="text-align: center; margin-top: 50px;">
               <div class="iframe-container">
                  <iframe class="iframe" src="https://www.youtube.com/embed/1X1MNvuRpdg?feature=oembed"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
            </div><br /><br />
            <div class="w3-container" style="text-align: center; margin-top: 20px;">
               <div class="iframe-container">
                  <iframe class="iframe" src="https://www.youtube.com/embed/erRrF8YWGd4?feature=oembed"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
            </div><br /><br />
            <div class="w3-container" style="text-align: center; margin-top: 20px;">
               <div class="iframe-container">
                  <iframe class="iframe" src="https://www.youtube.com/embed/bjui2jShNaw?feature=oembed"
                  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
            </div><br /><br />
         </div>
      </div>
   </div>
</div>
