<div class="container">
   <h4>Scholarships</h4>
   <p>Press Release – January 2019</p>
   <p>Zonta Club of Porterville Offers Two $1,000 Scholarship Awards</p><br />
   <p>
      Applications for the 2019 Zonta scholarship awards are now available from 
      the Zonta Club of Porterville.  Young women graduating from Porterville 
      Unified and Burton School Districts are encouraged to apply.
   </p>
   <p>
      The 2019 Young Women in Public Affairs Award recognizes commitment to 
      the volunteer sector, evidence of volunteer leadership achievements and 
      a dedication to the empowerment of women.  Applicants are asked to reflect 
      on their voluntary commitment to their school and community and the problems 
      limiting the empowerment of women in their own country and worldwide.  
      The successful applicant will also be eligible for additional awards 
      from Zonta’s District and International avenues.
   </p>
</div>
