<div class="w3-container">
   <div class="w3-row" style="padding: 20px; max-width: 800px; margin: auto;">
      <div class="w3-col s12" style="text-align: center">
         <h1>Scholarships</h1>
      </div>
      <div style="margin-top: 20px;">
         <div class="w3-col m6 s12">
            <img class="centered-image" src="../../../../assets/images/scholarship1.webp">
         </div>
         <div class="w3-col m6 s12" style="text-align: center;">
            <h3>Amelia Earhart Fellowship</h3>
            <p>Deadline: November</p>
            <p>For information and application</p>
            <button type="button" mdbBtn mdbWavesEffect class="w3-round-xlarge zonta-red">Click Here</button>
         </div><br /><br />
         <div class="w3-col s12" style="margin-top: 20px;">
            <p>
               Established in 1938 in honor of famed pilot and Zontian, Amelia Earhart, the Amelia Earhart Fellowship 
               is awarded annually to women pursuing Ph.D./doctoral degrees in aerospace-related sciences or 
               aerospace-related engineering. The Fellowship of US$10,000, awarded to 35 Fellows around the globe each 
               year, may be used at any university or college offering accredited post-graduate courses and degrees in these fields.
            </p>
         </div>
      </div><br />
      <div style="margin-top: 60px;">
         <div class="w3-col m6 s12 w3-hide-large w3-hide-medium">
            <img class="centered-image" src="../../../../assets/images/scholarship2.webp">
         </div>
         <div class="w3-col m6 s12" style="text-align: center;">
            <h3>Amelia Earhart Fellowship</h3>
            <p>Deadline: November</p>
            <p>For information and application</p>
            <button type="button" mdbBtn mdbWavesEffect class="w3-round-xlarge zonta-red">Click Here</button>
         </div>
         <div class="w3-col m6 s12 w3-hide-small">
            <img class="centered-image" src="../../../../assets/images/scholarship2.webp">
         </div><br /><br />
         <div class="w3-col s12" style="margin-top: 20px;">
            <p>
               Established in 1938 in honor of famed pilot and Zontian, Amelia Earhart, the Amelia Earhart Fellowship 
               is awarded annually to women pursuing Ph.D./doctoral degrees in aerospace-related sciences or 
               aerospace-related engineering. The Fellowship of US$10,000, awarded to 35 Fellows around the globe each 
               year, may be used at any university or college offering accredited post-graduate courses and degrees in these fields.
            </p>
         </div>
      </div>
   </div>
</div>
